@font-face {
    font-family: "Figtree Extra Bold";
    src: url("../../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");,
    url("../../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Figtree Medium";
    src: url("../../assets/fonts/static/Figtree-Medium.ttf") format("truetype");,
    url("../../assets/fonts/static/Figtree-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Figtree Medium Small";
    src: url("../../assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");,
    url("../../assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Figtree Medium Small Bold";
    src: url("../../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");,
    url("../../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}